body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Tahoma, sans-serif;
}

.content {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 15px;
    margin-top: 10px;
}

.img-link img {
    border: none;
}

.img-link {
    vertical-align: -6px;
}

table {
    border: none;
    border-collapse: collapse;
}

td {
    padding: 0;
    padding-right: 5px;
    padding-bottom: 5px;
}

img {
    /* FNB */
    image-rendering: pixelated;
}

table .img-link, table .img-link img {
    display: block;
}

.btn-img {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    vertical-align: -6px;
    cursor: pointer;
}

.btn-img img {
    display: block;
}

.search-queries {
    position: relative;
}

.search-content {
    position: absolute;
    width: 100%;
    border: 1px solid #000;
}

.search-content button {
    display: block;
    width: 100%;
    text-align: start;
    background: white;
    border: none;
}
.search-content button:hover {
    background: lightblue;
}

.sep {
    height: 1px;
    width: 100%;
    background: black;
}

.btn-create {
    background: url(static/create_account.gif) no-repeat center;
    background-position: 0 0;
    height: 24px;
    width: 100%;
}

.btn-create:hover {
    background-position: 0 100%;
}

.btn-create span {
    display: none;
}

a {
    color: #00f;
}

table.none td {
    padding: 0;
}
